<h1>Shopping Cart</h1>

<table class="table table-bordered table-striped ">
  <tr>
    <td width="50%">Product</td>
    <td width="5%">Quantity</td>
    <td width="10%">Unit Price</td>
    <td width="10%">Total Price</td>
    <td colspan="2"></td>
  </tr>
  <% @shopping_cart.shopping_cart_items.each do |shopping_cart_item| %>

    <% product = Product.find(shopping_cart_item.item_id) %>

    <tr>
      <td><%= shopping_cart_item.item.title %></td>
      <td><input type="number" max="<%= product.quantity %>" value="<%= shopping_cart_item.quantity %>" name="quantity" class="form-control quantity" style="padding: 5px"></td>
      <td><%= number_to_currency(shopping_cart_item.item.price) %></td>
      <td><%= number_to_currency(shopping_cart_item.item.price * shopping_cart_item.quantity) %></td>
      <td align="center">
        <%= link_to 'update', "", class: "btn btn-primary update", "data-id" => shopping_cart_item.item.id %>
      </td>
      <td align="center">
        <%= link_to 'remove', "", class: "btn btn-primary remove btn-danger", "data-id" => shopping_cart_item.item.id %></td>
    </tr>
  <% end %>

  </table>

  <div><b>Total: </b><%= number_to_currency @shopping_cart.subtotal %></div>
  <br />
  <%= link_to "Add more products!", root_path, class: "btn btn-primary" %>
  <%= link_to "Checkout", new_order_path, class: "btn btn-primary" %>

<script>
  $(function(){

    $(".update").click(function(){
      product_id = $(this).attr("data-id");
      quantity = $(".quantity").val();
      $.ajax({
        type: "PATCH",
        url: "<%= shopping_cart_path %>",
        data: { product_id: product_id, quantity: quantity},
        success: function(){
          alert("Shopping cart updated!");
        }
      });
    });

    $(".remove").click(function(){
      product_id = $(this).attr("data-id");
      quantity = $(".quantity").val();

      $.ajax({
        type: "DELETE",
        url: "<%= shopping_cart_path %>",
        data: { product_id: product_id, quantity: quantity},
        success: function(){
          alert("Product removed!");
        }
      });
    });

  })
</script>